
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #070a1f; 
    font-family: "Poppins", sans-serif;
    color: #dce1f2;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.container {
    max-width: 1000px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    padding: 16px 20px;
    margin-bottom: 25px;

    background: #070a1f;   
    border-radius: 18px;

    box-shadow: inset 0 0 0 1px #1a2b50;
}

.nav a {
    color: #82aaff;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 10px;
    transition: color 0.2s;
}
.nav a:visited {
    color: #a3b1f4;
}

.nav a:hover {
    color: #a8c0ff;
    text-decoration: underline;
}

.nav a.active {
    color: #a8c0ff;
    font-weight: 500;
    text-decoration: none;
}


.nav a:visited {
    color: #7090d2;
}

header .title {
    text-align: center;
    font-size: 2.5rem;
    color: #a8c0ff;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 2px;
    background: #1a2b50;
    opacity: 0.6;
    margin: 20px 0;
}


.section {
    background: #0f1a36;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.section h2 {
    color: #a8c0ff;
    margin-bottom: 12px;
}

.section p {
    color: #dce1f2;
}


.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    opacity: 0.7;
    color: #7c8493;
}

.footer hr {
    border: none;
    height: 2px;
    background: #1a2b50;
    opacity: 0.6;
    margin-bottom: 10px;
}
.active-section {
    border: 2px solid #a8c0ff;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
